.HeaderTC {
    position: absolute;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.48);
    width: 100%;
}

div.rowHeaderTC {
    display: table;
    width: 100%;
}

.HeaderTC {
    position: absolute;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.48);
    width: 100%;
}

img.imgLogoTC {
    padding: 30px 30px 30px 30px;
    max-height: 200px;
}

div.spanTC {
    color: #e6fcb6;
    font-size: 100%;
    text-align: center;
    font-style: italic;
    letter-spacing: 0.6px;
}

div.rowHeaderTC {
    display: table;
    width: 100%;
}

div.rowHeaderTC_td1 {
    text-align: center;
}

div.rowHeaderTC_td3 {
    vertical-align: middle;
}

div.playWeb {
    display: inline-block;
    background-color: #c7e18d;
    padding: 0px 6px 0px 8px;
    margin-left: 6px;
    font-size: 100%;
    color: #fff;
}

@media only screen and (max-width:738px) {
    div.rowHeaderTC_td1 {
        width: 100%;
    }

    div.rowHeaderTC_td2 {
        display: none;
    }

    div.rowHeaderTC_td3 {
        width: 100%;
        padding: 0px 5px 20px 5px;
    }

    img.imgLogoTC {
        max-height: 170px;
    }
}

@media only screen and (min-width:739px) {
    div.rowHeaderTC_td1 {
        display: table-cell;
        width: 22%;
        background-color: rgba(0, 0, 0, 0.55);
    }

    div.rowHeaderTC_td2 {
        display: table-cell;
        width: 38px;
        background-image: linear-gradient(to top right, rgba(0, 0, 0, 0.55) 50%, rgba(0, 0, 0, 0.55) 50%, transparent 50%, transparent)
    }

    div.rowHeaderTC_td3 {
        display: table-cell;
        padding: 0px 5px 0px 5px;
    }
}

.gray-background {
    background-color: #454843 !important;
    text-transform: uppercase;
}

a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}



.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #a0c064;
}

.nav-pills .nav-link:hover {
    background-color: #a0c064;
    color: #fff;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #a0c064;
}

.header-middle {
    background-color: #e2e2e2;
}

.menuleft {
    font-weight: bold;
    min-width: 220px;
    background-color: #e2e2e2 !important;
}

a:hover {
    color: #a0c064;
    text-decoration: none;
}

.menuleft a {
    color: #6d6e71;
}

.menuleft a:hover {
    color: #a0c064;
    text-decoration: none;
}


.titleSlider {
    position: absolute;
    top: 15px;
    color: #FFF;
    font-size: 150%;
    text-align: right;
    border-bottom: 1px solid #FFF;
    text-transform: uppercase;
    transition: all 400ms ease-in-out;
}

.titleSlider:hover {
    color: #a0c064;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.squareT {
    display: table-cell;
    position: relative;
    top: 0px;
    font-size: 26px;
    padding-right: 10px;
    color: #9dc062;
}

.formContact {
    padding-left: 50px;
    width: 80%;
}

div.formContact > div {
    padding-bottom: 15px;
}

.send-email-button {
    background: linear-gradient(to bottom, #cbec90, #abcd6d);
    font-size: 16px;
    color: #000;
    padding: 10px 17px;
    font-weight: bold;
    border: 0 !important;
    cursor: pointer;
}

.nav-link.active {
    background-color: #a0c063;
    color: #fff;
}

.dropdown-item.active {
    color: #fff;
    text-decoration: none;
    background-color: #a0c064;
}

.arrowSlider {
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    font-size: 200%;
    background-color: #efeff0;
    color: #606164;
    padding: 5px;
    box-shadow: 2px 1px 3px 2px #ccc;
    border-radius: 3px;
    user-select: none;
    cursor: pointer;
}

.rightVNN {
    right: -20px;
}

.leftVNN {
    left: -20px;
}

.w-240 {
    width: 240px;
}



footer {
    background: #454842;
    color: #fff;
    padding-top: 10px;
    font-weight: normal;
  }
  
  footer a {
    color: #fff;
  }
  
  footer a:hover {
    color: #a0c064;
  }
  
  footer h3 {
   color: #a0c064;
    letter-spacing: 1px;
    margin: 30px 0 20px;
  }
  
  footer .three-column {
   overflow: hidden;
  }
  
  footer .three-column li{
   width: 33.3333%;
    float: left;
    padding: 5px 0;
  }
  
  footer .socila-list {
    overflow: hidden;
    margin: 20px 0 10px;
  }
  
  footer .socila-list li {
    float: left;
    margin-right: 3px;
    opacity: 0.7;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
  }
  
  footer .socila-list li:hover {
    opacity: 1;
  }
  
  footer .img-thumbnail {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid #444;
    margin-bottom: 5px;
  }
  
  footer .copyright {
    padding: 15px 0;
    background: #333;
    margin-top: 20px;
    font-size: 15px;
  }
  
  footer .copyright span {
    color: #0894d1;
  }

  #lab_social_icon_footer {
    padding: 20px 0;
  }
  
  #lab_social_icon_footer a {
    color: #fff;
  }
  
  #lab_social_icon_footer .social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
  
  #lab_social_icon_footer .social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
  }
  /*
      Multicoloured Hover Variations
  */
  
  #lab_social_icon_footer #social-fb:hover {
    color: #3B5998;
  }
  
  #lab_social_icon_footer #social-tw:hover {
    color: #4099FF;
  }
  
  #lab_social_icon_footer #social-gp:hover {
    color: #f783ac;
  }
  
  #lab_social_icon_footer #social-em:hover {
    color: #f39c12;
  }

  /* #colection_image {
      padding: 4px;
  } */

#colection_category_element {
    padding: 10px;
}
  
#button {
    display: inline-block;
    background-color: #acc57c;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #button:hover {
    cursor: pointer;
    background-color: #a0c064;
  }
  #button:active {
    background-color: #a0c064;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }

  #main-menu {
      padding: 0.5rem !important;
      line-height: 20px;
  }

img.alignright { float: right; margin: 0 0 1em 1em; }
img.alignleft { float: left; margin: 0 1em 1em 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }